.container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
}

h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.aberto{
    color: lime;
}

.em-andamento{
    color: orange;
}

.finalizado{
    color: grey;
}

.red{
    color: red;
}

.text-center{
    text-align: center;
}

.edit{
    color: rgb(0, 153, 255);
    margin-right: 5px;
}

.visibility{
    color: mediumseagreen;
    margin-right: 5px;
}

mat-radio-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}